body {
	background: black;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#ezwall-container {
	display:block;

    position:absolute;
    top:0;
    left:0;
    
    width:100%;
    height:100%;
}

#header {
	position:absolute;
    top:0;
    left:0;
    
    width:100%;
	height: 35px;
	display: none;

	background: grey;
	z-index: 0;
}

#header-display-zone {
    position:absolute;
    top:0;
    left:0;
    
    width:100%;
	height: 20px;
}

#dashboard {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#build-grid {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#build-grid .job {
	margin: 8px;
	float: left;
	font-size: 2em;
	text-align: center;
	border-radius: 10px;
	box-shadow: 2px 2px 3px gray;
	
	/* CSS3 Box layout */
	
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: -ms-box;
	display: box;
	
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	-ms-box-orient: vertical;
	box-orient: vertical;
	
  	-webkit-box-pack: center;
  	-moz-box-pack: center;
  	-o-box-pack: center;
  	-ms-box-pack: center;
  	box-pack: center;
  	
  	-webkit-box-align: center;
  	-moz-box-align: center;
  	-o-box-align: center;
  	-ms-box-align: center;
  	box-align: center;
  	
  	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#build-grid .job a {
	text-decoration: none;
}

#build-grid .job-name {
	color: white;
	text-shadow: 0px 2px 3px #555;
	font-weight: bold;
	display:inline-block;
	vertical-align: middle;
}

.job-status-none {
	background: grey;
}

.job-status-ok {
	background: green;
}

.job-status-ko {
	background: red;
}

.job-status-instable {
	background: yellow;
}

#build-grid .job-glow {
  	-webkit-box-shadow: inset 0 0 10px 5px white, 0 0 15px white; 
    -moz-box-shadow: inset 0 0 10px 5px white, 0 0 15px white;
	-o-box-shadow: inset 0 0 10px 5px white, 0 0 15px white;
	-ms-box-shadow: inset 0 0 10px 5px white, 0 0 15px white;
	box-shadow: inset 0 0 10px 5px white, 0 0 15px white;
}